.start-button {
    margin-top: 20%;
}

input {
    margin-right: 10px;
}

.expression {
    font-size: 2em !important;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #fc5b9b70;
    border-top: 2px solid #fc5b9b70;
    background-color: #fc5b9b20;
}

.time {
    color: gray;
}