.row {
    display: inline-flex;
    width: 100%;
}

.col {
    width: 100%;
}

h3 {
    padding: 10px;
    color: black;
    border-top: 2px solid #fc5b9b70;
    border-bottom: 2px solid #fc5b9b70;
    background-color: #fc5b9b20;
}

.settings {
    margin-top: 10px;
}