<div class="container">
  <ul class="nav nav-tabs nav-fill nav-justified">
    <li class="nav-item">
      <a class="nav-link" routerLink="/recently_added" routerLinkActive="active">Recently Added</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/execise" routerLinkActive="active">Let's Exercise</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/settings" routerLinkActive="active">Settings</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>